@import "tailwindcss";
@import "react-slideshow-image/dist/styles.css";
/* Navbar fade + slide animation */
@keyframes navbarSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-animate {
  animation: navbarSlideDown 0.5s ease-out forwards;
}
